@font-face {
  font-family: 'Museo Sans';
  src: url('../../assets/fonts/MuseoSans/MuseoSansCyrl-500.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../../assets/fonts/MuseoSans/MuseoSansCyrl-900.woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../../assets/fonts/MuseoSans/MuseoSansCyrl-700.woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../../assets/fonts/MuseoSans/MuseoSansCyrl-300.woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans';
  src: url('../../assets/fonts/MuseoSans/MuseoSansCyrl-100.woff');
  font-weight: 300;
  font-style: normal;
}
